@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  background-color: linear-gradient(
    to bottom right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

body {

  @apply antialiased w-screen h-screen relative;
}

h1 {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold;
}

h2 {
  @apply text-xl md:text-2xl lg:text-3xl font-bold;
}

h3 {
  @apply text-lg md:text-xl lg:text-2xl font-bold;
}

h4 {
  @apply text-base md:text-lg lg:text-xl font-bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page h1 {
  @apply flex flex-row items-center justify-center gap-2;
}

.page table {
  @apply *:border *:border-gray-200 *:rounded-lg;
}

.page tr {
  @apply *:border *:border-gray-200;
}

.page th {
  @apply px-4 py-2 border *:border-gray-200;
}

.page code {
  @apply rounded-lg px-2 py-1 border border-opacity-30 overflow-x-scroll w-fit;
}

.page hr {
  @apply border-t border-gray-200 my-4;
}

.page a {
  @apply text-blue-500 hover:text-blue-700;
}

@layer components {
  .page {
    @apply container mx-auto px-4 py-8 grid grid-cols-1 gap-4 w-full h-2/4 items-center;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
