@import 'tailwindcss';

:root {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;

    background-image: linear-gradient(
        180deg,
        var(--color-background),
        var(--color-background-secondary)
    );
}
.progress-input::-webkit-slider-thumb {
    z-index: 20;
    position: relative;
    @apply appearance-none w-4 h-4 bg-[var(--color-text-secondary)] rounded-full cursor-pointer shadow-md transition-all duration-100 ease-in-out;
}

.ladle-background {
    @apply bg-gradient-to-r from-[var(--color-background)] to-[var(--color-background-secondary)] text-[var(--color-text)] fixed inset-0;
}

:root[data-theme='dark'] {
    --color-primary: rgb(97, 123, 177);
    --color-secondary: #6fa8dc;
    --color-accent: #e06666;

    --color-background: #232323;
    --color-text: #f0f0f0;
    --color-text-secondary: #b0b0b0;
    --color-border: #333;
    --color-background-secondary: #1a1a1a;
    --color-background-tertiary: #0d0d0d;
}

:root[data-theme='light'] {
    --color-primary: rgb(97, 123, 177);
    --color-secondary: #6fa8dc;
    --color-accent: #e06666;

    --color-background: #fff;
    --color-text: #232323;
    --color-text-secondary: #707070;
    --color-border: #ccc;
    --color-background-secondary: #e0e0e0;
    --color-background-tertiary: #f9f9f9;
}

.docs-main {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: screen;
    gap: 2rem;

    @apply text-[var(--color-text)];
}

/*** screen size changes docs max-width ***/

.docs-main h1 {
    @apply text-3xl font-[800] my-8;
}

.docs-main h2 {
    @apply text-2xl font-[600] my-6;
}

.docs-main h3 {
    @apply text-xl font-[500] my-4;
}

/* code {
    @apply bg-[var(--color-background-tertiary)] text-[var(--color-text-secondary)] px-1 rounded;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
} */

.docs-main img {
    @apply px-1 py-2 inline mx-1 my-1 h-11 w-auto rounded-xl;
}

.docs-main hr {
    @apply my-2 bg-[var(--color-border)] h-1 rounded-md;
}

.docs-main code {
    display: block;
    /* Makes sure it behaves properly */
    white-space: pre;
    /* Prevents auto-wrapping */
    word-wrap: normal;
    /* Ensures words don't break */
    overflow-wrap: normal;
    /* Avoids forced breaks */
    font-family: monospace;
    /* Uses a proper coding font */
}

.docs-main a {
    @apply hover:text-[var(--color-primary)] font-semibold hover:scale-105 transition-all duration-100 ease-in-out focus:underline focus:underline-offset-4 focus:text-[var(--color-secondary)];
}

.docs-main h4 {
    @apply text-lg font-[550] my-4;
}

.docs-main ul {
    @apply list-disc ml-4;
}

.docs-main li li {
    @apply list-disc ml-4;
}

.docs-main ol {
    @apply list-decimal ml-4;
}

.docs-main table {
    @apply w-fit border-collapse border border-[var(--color-border)] my-4 overflow-auto;
}

.docs-main th {
    @apply border border-[var(--color-border)] bg-[var(--color-background-tertiary)] px-4 py-2;
}

.docs-main tr {
    @apply border border-[var(--color-border)] px-4 py-2 bg-[var(--color-background-secondary)]/65;
}

.docs-main td {
    @apply border border-[var(--color-border)] px-4 py-2;
}

.docs-main blockquote {
    @apply border-l-4 border-[var(--color-primary)] bg-[var(--color-background-tertiary)]/35 p-2 my-4 w-full;
}

.docs-main pre {
    @apply text-[var(--color-text-secondary)] px-1 rounded;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
}

.docs-main blockquote pre,
a,
code {
    @apply w-fit inline-block;
}

.docs-main blockquote ul {
    @apply list-disc ml-4;
}

.docs-main blockquote li {
    @apply my-2;
}
