@import 'tailwindcss';

:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  background-image: linear-gradient(
    180deg,
    var(--color-background),
    var(--color-background-secondary)
  );
}

.progress-input::-webkit-slider-thumb {
  z-index: 20;
  position: relative;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--color-text-secondary);
  border-radius: 9999px;
  cursor: pointer;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ladle-background {
  background: linear-gradient(
    to right,
    var(--color-background),
    var(--color-background-secondary)
  );
  color: var(--color-text);
  position: fixed;
  inset: 0;
}

:root[data-theme='dark'] {
  --color-primary: rgb(97, 123, 177);
  --color-secondary: #6fa8dc;
  --color-accent: #e06666;

  --color-background: #232323;
  --color-text: #f0f0f0;
  --color-text-secondary: #b0b0b0;
  --color-border: #333;
  --color-background-secondary: #1a1a1a;
  --color-background-tertiary: #0d0d0d;
}

:root[data-theme='light'] {
  --color-primary: rgb(97, 123, 177);
  --color-secondary: #6fa8dc;
  --color-accent: #e06666;

  --color-background: #fff;
  --color-text: #232323;
  --color-text-secondary: #707070;
  --color-border: #ccc;
  --color-background-secondary: #e0e0e0;
  --color-background-tertiary: #f9f9f9;
}

.docs-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.5rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  height: 100vh;
  gap: 1rem;
  color: var(--color-text);
}

/*** screen size changes docs max-width ***/

.docs-main h1 {
  font-size: 1.875rem;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.docs-main h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.docs-main h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* code {
    background: var(--color-background-tertiary);
    color: var(--color-text-secondary);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 0.25rem;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
} */

.docs-main img {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  height: 2.75rem;
  width: auto;
  border-radius: 0.75rem;
}

.docs-main hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: var(--color-border);
  height: 0.25rem;
  border-radius: 0.375rem;
  border: none;
}

.docs-main code {
  display: block;
  white-space: pre;
  word-wrap: normal;
  overflow-wrap: normal;
  font-family: monospace;
}

.docs-main a {
  font-weight: 600;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.docs-main a:hover {
  color: var(--color-primary);
  transform: scale(1.05);
}

.docs-main a:focus {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--color-secondary);
}

.docs-main h4 {
  font-size: 1.125rem;
  font-weight: 550;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.docs-main ul {
  list-style-type: disc;
  margin-left: 1rem;
}

.docs-main li li {
  list-style-type: disc;
  margin-left: 1rem;
}

.docs-main ol {
  list-style-type: decimal;
  margin-left: 1rem;
}

.docs-main table {
  width: fit-content;
  border-collapse: collapse;
  border: 1px solid var(--color-border);
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
}

.docs-main th {
  border: 1px solid var(--color-border);
  background: var(--color-background-tertiary);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.docs-main tr {
  border: 1px solid var(--color-border);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: color-mix(
    in srgb,
    var(--color-background-secondary) 65%,
    transparent
  );
}

.docs-main td {
  border: 1px solid var(--color-border);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.docs-main blockquote {
  border-left: 4px solid var(--color-primary);
  background: color-mix(
    in srgb,
    var(--color-background-tertiary) 35%,
    transparent
  );
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.docs-main pre {
  color: var(--color-text-secondary);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9em;
}

.docs-main blockquote pre,
.docs-main a,
.docs-main code {
  width: fit-content;
  display: inline-block;
}

.docs-main blockquote ul {
  list-style-type: disc;
  margin-left: 1rem;
}

.docs-main blockquote li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
